.home-container {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  box-shadow: 50px 50px 90px 100px #f9f9f9;
  align-items: center;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;

  background-image: url("~src/assets/images/snapedit_1681998057299.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.home-container1 {
  /*width: 90%;*/
  height: 90%;
  display: flex;
  flex-direction: row;

  border-radius: 10px;
  background-color: rgba(52, 55, 71, 0.8);

}

.home-container2 {
  flex: 0 0 auto;
  width: 803px;
  height: 600px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-start;
}

.home-login {
  color: rgb(255, 255, 255);
  font-size: 56px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 50px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  margin-left: 65px;
}

.home-image {
  /*width: 421px;*/
  /*height: 194px;*/
  /*align-self: flex-end;*/
  /*margin-top: 140px;*/
  /*object-fit: cover;*/
  /*margin-right: 32px;*/
  /*margin-bottom: -100px;*/


  top: 256px;
  right: -15px;
  width: 468px;
  height: 217px;
  position: absolute;
  align-self: flex-end;
  object-fit: cover;
}

.home-form {
  left: 64px;
  width: 630px;
  bottom: 44px;
  height: 445px;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}

.home-textinput {
  width: 281px;
  top: 156px;
  left: 0px;
  color: #ffffff;
  height: 40px;
  position: absolute;
  align-self: flex-start;
  box-shadow: 2px 2px 10px 0px #6a64ad;
  border-color: #6a64ad;
  background-color: #6a64ad;
  border-style: solid;
  border-radius: 8px;
}

.home-textinput1 {
  width: 281px;
  top: 226px;
  left: 0px;
  color: #ffffff;
  height: 40px;
  position: absolute;
  align-self: flex-end;
  box-shadow: 2px 2px 10px 0px #6a64ad;
  border-color: #6a64ad;
  background-color: #6a64ad;
  border-style: solid;
  border-radius: 8px;
}

.home-textinput3 {
  width: 281px;
  top: 296px;
  color: #ffffff;
  height: 40px;
  position: absolute;
  align-self: flex-end;
  box-shadow: 2px 2px 10px 0px #6a64ad;
  border-color: #6a64ad;
  background-color: #6a64ad;
  border-style: solid;
  border-radius: 8px;
}


.home-button {
  padding: inherit;
  top: 320px;
  height: 30px;
  flex: 1;
  left: 0px;
  color: rgb(255, 255, 255);
  width: 281px;
  position: absolute;
  align-self: center;

  box-shadow: 2px 2px 5px 0px rgb(244, 116, 88);
  margin-top: 50px;
  border-color: #f47458;
  background-color: rgb(244, 116, 88);
}

.home-button:focus {
  background-color: rgb(234, 75, 43);
  color: white;
}

.home-text {
  top: 420px;
  color: #f47458;
  right: 370px;
  position: absolute;
  font-size: 14px;
  align-self: flex-end;
  text-align: left;
  font-family: Poppins, sans-serif;
}

.home-nume1 {
  color: white;
  width: 281px;
  top: 16px;
  height: 40px;
  position: absolute;
  box-shadow: 2px 2px 10px 0px #6a64ad;
  border-color: #6a64ad;
  background-color: #6a64ad;
  border-style: solid;
  border-radius: 8px;
}

.home-nume2 {
  color: white;
  width: 281px;
  top: 16px;
  right: 0px;
  height: 40px;
  position: absolute;
  box-shadow: 2px 2px 10px 0px #6a64ad;
  border-color: #6a64ad;
  background-color: #6a64ad;
  border-style: solid;
  border-radius: 8px;
}

.home-text4 {
  color: white;
  left: 18px;
  top: 420px;
  position: absolute;
}

.home-select {
  color: #b7b6d7;
  top: 86px;
  left: 0px;
  width: 281px;
  height: 40px;
  position: absolute;
  box-shadow: 2px 2px 10px 0px #6a64ad;
  border-color: #6a64ad;
  background-color: #6a64ad;
  border-style: solid;
  border-radius: 8px;
}

.signup-select-city {
  color: #b7b6d7;
  top: 86px;
  right: 0px;
  width: 281px;
  height: 40px;
  position: absolute;
  box-shadow: 2px 2px 10px 0px #6a64ad;
  border-color: #6a64ad;
  background-color: #6a64ad;
  border-style: solid;
  border-radius: 8px;
}


.home-select option, .signup-select-city option {
  color: white;
}

.selectedCounty, .selectedCity {
  color: white;
}

input[type=number]::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

