.home-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 50px 50px 90px 100px #f9f9f9;
  align-items: center;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;


  background-image: url("~src/assets/images/snapedit_1681998057299.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home-container1 {
  height: 90%;
  display: flex;
  flex-direction: row;

  border-radius: 10px;
  background-color: rgba(52, 55, 71, 0.8);

}

.home-container2 {
  flex: 0 0 auto;
  width: 803px;
  height: 700px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-start;
}

.home-login {
  color: rgb(255, 255, 255);
  font-size: 56px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 50px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  margin-left: 65px;
}

.home-image {
  /*width: 421px;*/
  /*height: 194px;*/
  /*align-self: flex-end;*/
  /*margin-top: 140px;*/
  /*object-fit: cover;*/
  /*margin-right: 32px;*/
  /*margin-bottom: -100px;*/


  top: 350px;
  right: -15px;
  width: 468px;
  height: 217px;
  position: absolute;
  align-self: flex-end;
  object-fit: cover;
}

.home-form {
  left: 64px;
  width: 630px;
  bottom: 44px;
  height: 445px;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
}


.home-textinput3 {
  width: 140px;
  top: 206px;
  color: #b7b6d7;;
  height: 40px;
  position: absolute;
  align-self: flex-end;
  box-shadow: 2px 2px 10px 0px #6a64ad;
  border-color: #6a64ad;
  background-color: #6a64ad;
  border-style: solid;
  border-radius: 8px;
}


.home-textinput4 {
  width: 121px;
  top: 206px;
  left: 160px;
  color: #b7b6d7;
  height: 40px;
  position: absolute;
  align-self: flex-end;
  box-shadow: 2px 2px 10px 0px #6a64ad;
  border-color: #6a64ad;
  background-color: #6a64ad;
  border-style: solid;
  border-radius: 8px;
}

input[type="date"]:valid, input[type="time"]:valid {
  color: white;
}

.selectedCategory {
  color: white;
}

.home-labelFile {
  width: 121px;
  left: 2px;
  top: 333px;
  color: #b7b6d7;
  position: absolute;
  align-self: flex-end;
}

.home-textinputFile {
  width: 200px;
  top: 353px;
  left: 0px;
  color: #ffffff;
  height: 40px;
  position: absolute;

}


.home-text-ticket-price {
  width: 115px;
  top: 276px;
  color: white;
  height: 40px;
  position: absolute;
  align-self: flex-end;
  box-shadow: 0px 2px 10px 0px #6a64ad;
  border-color: #6a64ad;
  background-color: #6a64ad;
  border-style: solid;
  border-radius: 8px;
}

.home-text-ticket-ron {
  font-size: 15px;
  left: 119px;
  top: 286px;
  color: white;
  position: absolute;
}


.home-text-ticket-discount {
  width: 100px;
  top: 276px;
  left: 160px;
  color: #ffffff;
  height: 40px;
  position: absolute;
  align-self: flex-end;
  box-shadow: 0px 2px 10px 0px #6a64ad;
  border-color: #6a64ad;
  background-color: #6a64ad;
  border-style: solid;
  border-radius: 8px;
}

.home-text-ticket-percentaje {
  font-size: 20px;
  left: 267px;
  top: 286px;
  color: white;
  position: absolute;
}


input::file-selector-button {
  color: white;
  width: fit-content;
  height: 30px;
  border-color: #6a64ad;
  background-color: #6a64ad;
  border-style: solid;
  border-radius: 8px;
  cursor: pointer;
}

.home-button {
  padding: inherit;
  top: 360px;
  height: 30px;
  flex: 1;
  left: 0px;
  color: white;
  width: 281px;
  position: absolute;
  align-self: center;

  box-shadow: 2px 2px 5px 0px rgb(244, 116, 88);
  margin-top: 50px;
  border-color: #f47458;
  background-color: rgb(244, 116, 88);
}

.home-button:active,
.home-button:hover {
  background-color: rgb(234, 75, 43);
  color: white;
}

input::file-selector-button:active,
input::file-selector-button:hover {
  background-color: #5047ab;
  color: white;
}


.home-nume1 {
  color: white;
  width: 281px;
  top: -76px;
  height: 40px;
  position: absolute;
  box-shadow: 2px 2px 10px 0px #6a64ad;
  border-color: #6a64ad;
  background-color: #6a64ad;
  border-style: solid;
  border-radius: 8px;
}

.home-nume2 {
  color: white;
  width: 281px;
  top: -76px;
  right: 0px;
  resize: none;
  position: absolute;
  box-shadow: 2px 2px 10px 0px #6a64ad;
  border-color: #6a64ad;
  background-color: #6a64ad;
  border-style: solid;
  border-radius: 8px;
}


.home-select {
  color: #b7b6d7;
  top: -6px;
  left: 0px;
  width: 281px;
  height: 40px;
  position: absolute;
  box-shadow: 2px 2px 10px 0px #6a64ad;
  border-color: #6a64ad;
  background-color: #6a64ad;
  border-style: solid;
  border-radius: 8px;
}

.home-select1 {
  width: 281px;
  top: 66px;
  left: 0px;
  color: #b7b6d7;
  height: 40px;
  position: absolute;
  align-self: flex-start;
  box-shadow: 2px 2px 10px 0px #6a64ad;
  border-color: #6a64ad;
  background-color: #6a64ad;
  border-style: solid;
  border-radius: 8px;
}

.home-select2 {
  width: 281px;
  top: 66px;
  right: 0px;
  color: #b7b6d7;
  height: 40px;
  position: absolute;
  align-self: flex-end;
  box-shadow: 2px 2px 10px 0px #6a64ad;
  border-color: #6a64ad;
  background-color: #6a64ad;
  border-style: solid;
  border-radius: 8px;
}

.home-select3 {
  width: 281px;
  top: 136px;
  left: 0px;
  color: #b7b6d7;
  height: 40px;
  position: absolute;
  align-self: flex-end;
  box-shadow: 2px 2px 10px 0px #6a64ad;
  border-color: #6a64ad;
  background-color: #6a64ad;
  border-style: solid;
  border-radius: 8px;
}

.home-select option, .home-select1 option,
.home-select2 option, .home-select3 option {
  color: white;
}
.selectedCounty, .selectedCategory, .selectedCity, .selectedLocation {
  color: white;
}

input[type=number]::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.home-label {
  width: 121px;
  color: #b7b6d7;
  position: absolute;
  align-self: flex-end;
}


