<div class="home-container">

  <div class="home-container1">
    <app-sidenav></app-sidenav>


    <div class="mat-card-container">
      <mat-card class="mat-card" *ngFor="let event of events"
                style="cursor: pointer" (click)="goToEventDetails(event.id)">
        <mat-card-header>
          <mat-card-title>{{event.name}}</mat-card-title>
          <mat-card-subtitle>Date: {{event.date}}</mat-card-subtitle>
          <mat-card-subtitle>Time: {{event.hour}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="event.imageString" alt="image">
        <mat-card-content>
          <p>{{event.description}}</p>
        </mat-card-content>
        <mat-card-actions style="margin-top: 20px; ">
          <button mat-icon-button (click)="editEvent(event,$event)">
            <i class="bi bi-pencil-fill" style="color:#342f67;"></i>
          </button>
          <button mat-icon-button (click)="deleteEvent(event,$event)">
            <i class="bi bi-trash3-fill" style="color: #f44336"></i>
          </button>
        </mat-card-actions>
      </mat-card>

    </div>

  </div>
</div>


