.sidenav {
  margin-right: 40px;
  border-radius: 10px 0px 0px 10px;
  background: rgba(124, 130, 196,1);
  z-index: 1;
  transition: .3s linear;

  width: 5rem;
  height: 100%;
  //box-shadow: 0.063rem 0 1.25rem 0 #8690a3;

  .logo-container {

    display: flex;
    align-items: center;
    //justify-content: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100vw;

    .logo {
      background: #fff;
      text-align: center;
      width: 3rem;
      min-width: 3rem;
      border-radius: 0.313rem;
      padding: 0.313rem;
      font-size: 24px;
      font-weight: 900;
      cursor: pointer;
      border: none;
    }

    .logo-text {
      //margin-left: 1.5rem;
      font-size: 24px;
      font-weight: 700;
      color: #fff;
      transition: .3s linear;
    }

    .btn-close {
      margin-left: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;

      .fa-times {
        color: #fff;
        font-size: 24px;
      }
    }

  }

  .sidenav-nav-item {
    .sidenav-nav-link.active {
      width: 65px;
      background-color: rgba(52, 55, 71, 0.8);
      border-radius: 5.625rem 0px 0px 5.625rem
    }
  }


}

.sidenav-collapsed {
  width: 15.5625rem;

  .sidenav-nav-item {
    .sidenav-nav-link.active {
      width: 234px;
      background-color: rgba(52, 55, 71, 0.8);
      border-radius: 5.625rem 0px 0px 5.625rem
    }
  }

}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(50% - 3.65rem);
  cursor: pointer;

  .sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.625rem;

    .sidenav-nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      color: #fff;
      text-decoration: none;
      border-radius: 0.625rem;
      transition: .3s linear;


      .sidenav-link-icon {
        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        text-align: center;
      }

      .sidenav-link-text {
        margin-left: 1.5rem;
      }
    }
  }

  .sidenav-nav-item:hover {
    .sidenav-nav-link {
      background-color: #fff;
      color: #000;
    }
  }


}




