.home-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 50px 50px 90px 100px #f9f9f9;
  align-items: center;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;


  background-image: url("~src/assets/images/snapedit_1681998057299.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home-container1 {
  width: 90%;
  height: 92%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  border-radius: 10px;
  background-color: rgba(52, 55, 71, 0.8);

}

.home-container2 {
  margin-top: 20px;
  font-size: 18px;
  color: white;
  width: 77%;
  height: 92%;
  /*display: flex;*/
  /*align-self: center;*/
  /*align-items: flex-start;*/
  /*border-radius: 8px;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
}

