.home-container {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  box-shadow: 50px 50px 90px 100px #f9f9f9;
  align-items: center;
  border-width: 1px;
  flex-direction: row;
  justify-content: center;

  background-image: url("~src/assets/images/snapedit_1681998057299.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.home-container1 {
  /*width: 90%;*/
  height: 90%;
  display: flex;
  flex-direction: row;

  border-radius: 10px;
  background-color: rgba(52, 55, 71, 0.8);

}

.home-container2 {
  flex: 0 0 auto;
  width: 803px;
  height: 565px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}


.home-login {
  color: rgb(255, 255, 255);
  font-size: 56px;
  align-self: flex-start;
  font-style: normal;
  margin-top: 78px;
  font-family: Poppins,sans-serif;
  font-weight: 600;
  margin-left: 48px;
}
.home-image {
  position: absolute;
  width: 500px;
  height: 200px;
  align-self: flex-end;
  margin-top: 200px;
  object-fit: cover;
  margin-right: -22px;
  margin-bottom: -130px;
}
.home-form {
  position: absolute;
  width: 281px;
  height: 307px;
  display: flex;
  align-self: flex-start;
  margin-top: 80px;
  align-items: flex-start;
  margin-left: 48px;
  justify-content: flex-start;
}
.home-textinput{
  color: #ffffff;
  height: 50px;
  width: 280px;
  align-self: flex-start;
  box-shadow: 2px 2px 5px 0px #6a64ad;
  margin-top: 8px;
  border-color: #6a64ad;
  margin-bottom: 0px;
  background-color: #6a64ad;
  border-style: solid;
  border-radius: 8px;
  font-family: Poppins,sans-serif;
}
.home-textinput1 {
  color: #ffffff;
  width: 280px;
  height: 50px;
  align-self: center;
  box-shadow: 2px 2px 5px 0px #6a64ad;
  margin-top: -100px;
  margin-left: -280px;
  border-color: #6a64ad;
  background-color: #6a64ad;
  border-style: solid;
  border-radius: 8px;
  font-family: Poppins,sans-serif;
}
.home-button{
  color: rgb(255, 255, 255);
  width: 280px;
  align-self: center;
  box-shadow: 2px 2px 5px 0px rgb(244, 116, 88);
  margin-top: 50px;
  margin-left: -280px;
  border-color: #f47458;
  background-color: rgb(244, 116, 88);
}

.home-button:focus{
  background-color: rgb(234, 75, 43);
  color: white;
}
.home-text {
  color: #ffffff;
  font-size: 14px;
  align-self: flex-end;
  font-family: Poppins,sans-serif;
  margin-left: -255px;
  margin-bottom: 50px;
}
.home-text1 {
  color: #f47458;
  font-size: 14px;
  align-self: flex-end;
  text-align: left;
  font-family: Poppins,sans-serif;
  margin-left: 2px;
  margin-bottom: 50px;
}
